*
  margin: 0

body
  margin: 0
  font-family: 'Poppins', 'Roboto', sans-serif

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

.card
  width: 250px
  display: flex
  flex-direction: column
  justify-content: space-around

.place
  margin-bottom: 5px

label
  color: tomato
  font-size: 13px
  border-bottom: 1px solid tomato
  margin: 3px 0
  width: max-content

.description
  font-size: 14px
  margin-bottom: 5px

.star
  color: gold
  margin-bottom: 5px

.username
  font-size: 14px

.date
  font-size: 12px

form
  width: 250px
  display: flex
  flex-direction: column
  justify-content: space-between
  label
    margin-bottom: 8px
  input, textarea
    border: none
    border-bottom: 1px solid grey
    margin-bottom: 10px
    outline: none
    padding: 5px
    font-size: 12px

select
  margin-bottom: 10px
  outline: none

.submitButton
  border: none
  padding: 5px
  border-radius: 5px
  outline: none
  color: #fff
  background-color: red
  cursor: pointer
  transition: all .3s ease
  &:hover
    background-color: darken(red, 10%)


